.icon-accept{background:url('icon-lib/accept.png') no-repeat center center;}
.icon-add{background:url('icon-lib/add.png') no-repeat center center;}
.icon-anchor{background:url('icon-lib/anchor.png') no-repeat center center;}
.icon-application_home{background:url('icon-lib/application_home.png') no-repeat center center;}
.icon-application_osx_home{background:url('icon-lib/application_osx_home.png') no-repeat center center;}
.icon-application_osx{background:url('icon-lib/application_osx.png') no-repeat center center;}
.icon-application_view_gallery{background:url('icon-lib/application_view_gallery.png') no-repeat center center;}
.icon-application_view_tile{background:url('icon-lib/application_view_tile.png') no-repeat center center;}
.icon-application{background:url('icon-lib/application.png') no-repeat center center;}
.icon-arrow_branch{background:url('icon-lib/arrow_branch.png') no-repeat center center;}
.icon-arrow_divide{background:url('icon-lib/arrow_divide.png') no-repeat center center;}
.icon-arrow_down{background:url('icon-lib/arrow_down.png') no-repeat center center;}
.icon-arrow_ew{background:url('icon-lib/arrow_ew.png') no-repeat center center;}
.icon-arrow_in_longer{background:url('icon-lib/arrow_in_longer.png') no-repeat center center;}
.icon-arrow_join{background:url('icon-lib/arrow_join.png') no-repeat center center;}
.icon-arrow_left{background:url('icon-lib/arrow_left.png') no-repeat center center;}
.icon-arrow_merge{background:url('icon-lib/arrow_merge.png') no-repeat center center;}
.icon-arrow_ns{background:url('icon-lib/arrow_ns.png') no-repeat center center;}
.icon-arrow_nsew{background:url('icon-lib/arrow_nsew.png') no-repeat center center;}
.icon-arrow_nw_ne_sw_se{background:url('icon-lib/arrow_nw_ne_sw_se.png') no-repeat center center;}
.icon-arrow_out_longer{background:url('icon-lib/arrow_out_longer.png') no-repeat center center;}
.icon-arrow_redo{background:url('icon-lib/arrow_redo.png') no-repeat center center;}
.icon-arrow_refresh{background:url('icon-lib/arrow_refresh.png') no-repeat center center;}
.icon-arrow_right{background:url('icon-lib/arrow_right.png') no-repeat center center;}
.icon-arrow_rotate_anticlockwise{background:url('icon-lib/arrow_rotate_anticlockwise.png') no-repeat center center;}
.icon-arrow_rotate_clockwise{background:url('icon-lib/arrow_rotate_clockwise.png') no-repeat center center;}
.icon-arrow_switch{background:url('icon-lib/arrow_switch.png') no-repeat center center;}
.icon-arrow_turn_left{background:url('icon-lib/arrow_turn_left.png') no-repeat center center;}
.icon-arrow_turn_right{background:url('icon-lib/arrow_turn_right.png') no-repeat center center;}
.icon-arrow_undo{background:url('icon-lib/arrow_undo.png') no-repeat center center;}
.icon-arrow_up{background:url('icon-lib/arrow_up.png') no-repeat center center;}
.icon-asterisk_orange{background:url('icon-lib/asterisk_orange.png') no-repeat center center;}
.icon-award_star_bronze_blue{background:url('icon-lib/award_star_bronze_blue.png') no-repeat center center;}
.icon-award_star_bronze_green{background:url('icon-lib/award_star_bronze_green.png') no-repeat center center;}
.icon-award_star_bronze_red{background:url('icon-lib/award_star_bronze_red.png') no-repeat center center;}
.icon-award_star_gold_blue{background:url('icon-lib/award_star_gold_blue.png') no-repeat center center;}
.icon-award_star_gold_green{background:url('icon-lib/award_star_gold_green.png') no-repeat center center;}
.icon-award_star_gold_red{background:url('icon-lib/award_star_gold_red.png') no-repeat center center;}
.icon-award_star_silver_blue{background:url('icon-lib/award_star_silver_blue.png') no-repeat center center;}
.icon-award_star_silver_green{background:url('icon-lib/award_star_silver_green.png') no-repeat center center;}
.icon-award_star_silver_red{background:url('icon-lib/award_star_silver_red.png') no-repeat center center;}
.icon-basket{background:url('icon-lib/basket.png') no-repeat center center;}
.icon-bell{background:url('icon-lib/bell.png') no-repeat center center;}
.icon-bin{background:url('icon-lib/bin.png') no-repeat center center;}
.icon-blank{background:url('icon-lib/blank.png') no-repeat center center;}
.icon-bomb{background:url('icon-lib/bomb.png') no-repeat center center;}
.icon-book_red{background:url('icon-lib/book_red.png') no-repeat center center;}
.icon-book_tabs{background:url('icon-lib/book_tabs.png') no-repeat center center;}
.icon-book{background:url('icon-lib/book.png') no-repeat center center;}
.icon-bookmark{background:url('icon-lib/bookmark.png') no-repeat center center;}
.icon-border_all{background:url('icon-lib/border_all.png') no-repeat center center;}
.icon-box_picture{background:url('icon-lib/box_picture.png') no-repeat center center;}
.icon-box_world{background:url('icon-lib/box_world.png') no-repeat center center;}
.icon-box{background:url('icon-lib/box.png') no-repeat center center;}
.icon-brick{background:url('icon-lib/brick.png') no-repeat center center;}
.icon-bricks{background:url('icon-lib/bricks.png') no-repeat center center;}
.icon-briefcase{background:url('icon-lib/briefcase.png') no-repeat center center;}
.icon-bug{background:url('icon-lib/bug.png') no-repeat center center;}
.icon-building{background:url('icon-lib/building.png') no-repeat center center;}
.icon-bullet_add{background:url('icon-lib/bullet_add.png') no-repeat center center;}
.icon-bullet_arrow_bottom{background:url('icon-lib/bullet_arrow_bottom.png') no-repeat center center;}
.icon-bullet_arrow_down{background:url('icon-lib/bullet_arrow_down.png') no-repeat center center;}
.icon-bullet_arrow_top{background:url('icon-lib/bullet_arrow_top.png') no-repeat center center;}
.icon-bullet_arrow_up{background:url('icon-lib/bullet_arrow_up.png') no-repeat center center;}
.icon-bullet_black{background:url('icon-lib/bullet_black.png') no-repeat center center;}
.icon-bullet_blue{background:url('icon-lib/bullet_blue.png') no-repeat center center;}
.icon-bullet_connect{background:url('icon-lib/bullet_connect.png') no-repeat center center;}
.icon-bullet_cross{background:url('icon-lib/bullet_cross.png') no-repeat center center;}
.icon-bullet_database_yellow{background:url('icon-lib/bullet_database_yellow.png') no-repeat center center;}
.icon-bullet_database{background:url('icon-lib/bullet_database.png') no-repeat center center;}
.icon-bullet_delete{background:url('icon-lib/bullet_delete.png') no-repeat center center;}
.icon-bullet_disk{background:url('icon-lib/bullet_disk.png') no-repeat center center;}
.icon-bullet_earth{background:url('icon-lib/bullet_earth.png') no-repeat center center;}
.icon-bullet_edit{background:url('icon-lib/bullet_edit.png') no-repeat center center;}
.icon-bullet_eject{background:url('icon-lib/bullet_eject.png') no-repeat center center;}
.icon-bullet_error{background:url('icon-lib/bullet_error.png') no-repeat center center;}
.icon-bullet_feed{background:url('icon-lib/bullet_feed.png') no-repeat center center;}
.icon-bullet_get{background:url('icon-lib/bullet_get.png') no-repeat center center;}
.icon-bullet_go{background:url('icon-lib/bullet_go.png') no-repeat center center;}
.icon-bullet_green{background:url('icon-lib/bullet_green.png') no-repeat center center;}
.icon-bullet_home{background:url('icon-lib/bullet_home.png') no-repeat center center;}
.icon-bullet_key{background:url('icon-lib/bullet_key.png') no-repeat center center;}
.icon-bullet_left{background:url('icon-lib/bullet_left.png') no-repeat center center;}
.icon-bullet_lightning{background:url('icon-lib/bullet_lightning.png') no-repeat center center;}
.icon-bullet_magnify{background:url('icon-lib/bullet_magnify.png') no-repeat center center;}
.icon-bullet_minus{background:url('icon-lib/bullet_minus.png') no-repeat center center;}
.icon-bullet_orange{background:url('icon-lib/bullet_orange.png') no-repeat center center;}
.icon-bullet_page_white{background:url('icon-lib/bullet_page_white.png') no-repeat center center;}
.icon-bullet_picture{background:url('icon-lib/bullet_picture.png') no-repeat center center;}
.icon-bullet_pink{background:url('icon-lib/bullet_pink.png') no-repeat center center;}
.icon-bullet_plus{background:url('icon-lib/bullet_plus.png') no-repeat center center;}
.icon-bullet_purple{background:url('icon-lib/bullet_purple.png') no-repeat center center;}
.icon-bullet_red{background:url('icon-lib/bullet_red.png') no-repeat center center;}
.icon-bullet_right{background:url('icon-lib/bullet_right.png') no-repeat center center;}
.icon-bullet_shape{background:url('icon-lib/bullet_shape.png') no-repeat center center;}
.icon-bullet_sparkle{background:url('icon-lib/bullet_sparkle.png') no-repeat center center;}
.icon-bullet_star{background:url('icon-lib/bullet_star.png') no-repeat center center;}
.icon-bullet_start{background:url('icon-lib/bullet_start.png') no-repeat center center;}
.icon-bullet_stop_alt{background:url('icon-lib/bullet_stop_alt.png') no-repeat center center;}
.icon-bullet_stop{background:url('icon-lib/bullet_stop.png') no-repeat center center;}
.icon-bullet_tick{background:url('icon-lib/bullet_tick.png') no-repeat center center;}
.icon-bullet_toggle_minus{background:url('icon-lib/bullet_toggle_minus.png') no-repeat center center;}
.icon-bullet_toggle_plus{background:url('icon-lib/bullet_toggle_plus.png') no-repeat center center;}
.icon-bullet_white{background:url('icon-lib/bullet_white.png') no-repeat center center;}
.icon-bullet_wrench_red{background:url('icon-lib/bullet_wrench_red.png') no-repeat center center;}
.icon-bullet_wrench{background:url('icon-lib/bullet_wrench.png') no-repeat center center;}
.icon-bullet_yellow{background:url('icon-lib/bullet_yellow.png') no-repeat center center;}
.icon-button{background:url('icon-lib/button.png') no-repeat center center;}
.icon-cabinet{background:url('icon-lib/cabinet.png') no-repeat center center;}
.icon-cake_out{background:url('icon-lib/cake_out.png') no-repeat center center;}
.icon-cake_sliced{background:url('icon-lib/cake_sliced.png') no-repeat center center;}
.icon-cake{background:url('icon-lib/cake.png') no-repeat center center;}
.icon-calculator{background:url('icon-lib/calculator.png') no-repeat center center;}
.icon-calendar_view_day{background:url('icon-lib/calendar_view_day.png') no-repeat center center;}
.icon-calendar_view_month{background:url('icon-lib/calendar_view_month.png') no-repeat center center;}
.icon-calendar_view_week{background:url('icon-lib/calendar_view_week.png') no-repeat center center;}
.icon-calendar{background:url('icon-lib/calendar.png') no-repeat center center;}
.icon-camera{background:url('icon-lib/camera.png') no-repeat center center;}
.icon-cancel{background:url('icon-lib/cancel.gif') no-repeat center center;}
.icon-cancel{background:url('icon-lib/cancel.png') no-repeat center center;}
.icon-car{background:url('icon-lib/car.png') no-repeat center center;}
.icon-cart{background:url('icon-lib/cart.png') no-repeat center center;}
.icon-cd{background:url('icon-lib/cd.png') no-repeat center center;}
.icon-cdr{background:url('icon-lib/cdr.png') no-repeat center center;}
.icon-chart_bar{background:url('icon-lib/chart_bar.png') no-repeat center center;}
.icon-chart_curve{background:url('icon-lib/chart_curve.png') no-repeat center center;}
.icon-chart_organisation{background:url('icon-lib/chart_organisation.png') no-repeat center center;}
.icon-chart_pie{background:url('icon-lib/chart_pie.png') no-repeat center center;}
.icon-client{background:url('icon-lib/client.png') no-repeat center center;}
.icon-clipboard{background:url('icon-lib/clipboard.png') no-repeat center center;}
.icon-clock{background:url('icon-lib/clock.png') no-repeat center center;}
.icon-cmy{background:url('icon-lib/cmy.png') no-repeat center center;}
.icon-cog{background:url('icon-lib/cog.png') no-repeat center center;}
.icon-coins{background:url('icon-lib/coins.png') no-repeat center center;}
.icon-color_swatch{background:url('icon-lib/color_swatch.png') no-repeat center center;}
.icon-color_wheel{background:url('icon-lib/color_wheel.png') no-repeat center center;}
.icon-comment{background:url('icon-lib/comment.png') no-repeat center center;}
.icon-compass{background:url('icon-lib/compass.png') no-repeat center center;}
.icon-compress{background:url('icon-lib/compress.png') no-repeat center center;}
.icon-computer{background:url('icon-lib/computer.png') no-repeat center center;}
.icon-connect{background:url('icon-lib/connect.png') no-repeat center center;}
.icon-contrast{background:url('icon-lib/contrast.png') no-repeat center center;}
.icon-control_add_blue{background:url('icon-lib/control_add_blue.png') no-repeat center center;}
.icon-control_add{background:url('icon-lib/control_add.png') no-repeat center center;}
.icon-control_blank_blue{background:url('icon-lib/control_blank_blue.png') no-repeat center center;}
.icon-control_blank{background:url('icon-lib/control_blank.png') no-repeat center center;}
.icon-control_eject_blue{background:url('icon-lib/control_eject_blue.png') no-repeat center center;}
.icon-control_eject{background:url('icon-lib/control_eject.png') no-repeat center center;}
.icon-control_end_blue{background:url('icon-lib/control_end_blue.png') no-repeat center center;}
.icon-control_end{background:url('icon-lib/control_end.png') no-repeat center center;}
.icon-control_equalizer_blue{background:url('icon-lib/control_equalizer_blue.png') no-repeat center center;}
.icon-control_equalizer{background:url('icon-lib/control_equalizer.png') no-repeat center center;}
.icon-control_fastforward_blue{background:url('icon-lib/control_fastforward_blue.png') no-repeat center center;}
.icon-control_fastforward{background:url('icon-lib/control_fastforward.png') no-repeat center center;}
.icon-control_pause_blue{background:url('icon-lib/control_pause_blue.png') no-repeat center center;}
.icon-control_pause{background:url('icon-lib/control_pause.png') no-repeat center center;}
.icon-control_play_blue{background:url('icon-lib/control_play_blue.png') no-repeat center center;}
.icon-control_play{background:url('icon-lib/control_play.png') no-repeat center center;}
.icon-control_power_blue{background:url('icon-lib/control_power_blue.png') no-repeat center center;}
.icon-control_power{background:url('icon-lib/control_power.png') no-repeat center center;}
.icon-control_record_blue{background:url('icon-lib/control_record_blue.png') no-repeat center center;}
.icon-control_record{background:url('icon-lib/control_record.png') no-repeat center center;}
.icon-control_remove_blue{background:url('icon-lib/control_remove_blue.png') no-repeat center center;}
.icon-control_remove{background:url('icon-lib/control_remove.png') no-repeat center center;}
.icon-control_repeat_blue{background:url('icon-lib/control_repeat_blue.png') no-repeat center center;}
.icon-control_repeat{background:url('icon-lib/control_repeat.png') no-repeat center center;}
.icon-control_rewind_blue{background:url('icon-lib/control_rewind_blue.png') no-repeat center center;}
.icon-control_rewind{background:url('icon-lib/control_rewind.png') no-repeat center center;}
.icon-control_start_blue{background:url('icon-lib/control_start_blue.png') no-repeat center center;}
.icon-control_start{background:url('icon-lib/control_start.png') no-repeat center center;}
.icon-control_stop_blue{background:url('icon-lib/control_stop_blue.png') no-repeat center center;}
.icon-control_stop{background:url('icon-lib/control_stop.png') no-repeat center center;}
.icon-controller{background:url('icon-lib/controller.png') no-repeat center center;}
.icon-coolite{background:url('icon-lib/coolite.png') no-repeat center center;}
.icon-creditcards{background:url('icon-lib/creditcards.png') no-repeat center center;}
.icon-cross{background:url('icon-lib/cross.png') no-repeat center center;}
.icon-css{background:url('icon-lib/css.png') no-repeat center center;}
.icon-cup_black{background:url('icon-lib/cup_black.png') no-repeat center center;}
.icon-cup{background:url('icon-lib/cup.png') no-repeat center center;}
.icon-cursor{background:url('icon-lib/cursor.png') no-repeat center center;}
.icon-cut_red{background:url('icon-lib/cut_red.png') no-repeat center center;}
.icon-cut{background:url('icon-lib/cut.png') no-repeat center center;}
.icon-database{background:url('icon-lib/database.png') no-repeat center center;}
.icon-databases{background:url('icon-lib/databases.png') no-repeat center center;}
.icon-date{background:url('icon-lib/date.png') no-repeat center center;}
.icon-decline{background:url('icon-lib/decline.png') no-repeat center center;}
.icon-delete{background:url('icon-lib/delete.png') no-repeat center center;}
.icon-delivery{background:url('icon-lib/delivery.png') no-repeat center center;}
.icon-device_stylus{background:url('icon-lib/device_stylus.png') no-repeat center center;}
.icon-disconnect{background:url('icon-lib/disconnect.png') no-repeat center center;}
.icon-disk_black{background:url('icon-lib/disk_black.png') no-repeat center center;}
.icon-disk{background:url('icon-lib/disk.png') no-repeat center center;}
.icon-door_in{background:url('icon-lib/door_in.png') no-repeat center center;}
.icon-door_open{background:url('icon-lib/door_open.png') no-repeat center center;}
.icon-door_out{background:url('icon-lib/door_out.png') no-repeat center center;}
.icon-door{background:url('icon-lib/door.png') no-repeat center center;}
.icon-download{background:url('icon-lib/download.png') no-repeat center center;}
.icon-drink_empty{background:url('icon-lib/drink_empty.png') no-repeat center center;}
.icon-drink_red{background:url('icon-lib/drink_red.png') no-repeat center center;}
.icon-drink{background:url('icon-lib/drink.png') no-repeat center center;}
.icon-drive_user{background:url('icon-lib/drive_user.png') no-repeat center center;}
.icon-drive_web{background:url('icon-lib/drive_web.png') no-repeat center center;}
.icon-drive{background:url('icon-lib/drive.png') no-repeat center center;}
.icon-dvd{background:url('icon-lib/dvd.png') no-repeat center center;}
.icon-edit{background:url('icon-lib/edit.png') no-repeat center center;}
.icon-eject_blue{background:url('icon-lib/eject_blue.png') no-repeat center center;}
.icon-eject_green{background:url('icon-lib/eject_green.png') no-repeat center center;}
.icon-email_go{background:url('icon-lib/email_go.png') no-repeat center center;}
.icon-email{background:url('icon-lib/email.png') no-repeat center center;}
.icon-emoticon_evilgrin{background:url('icon-lib/emoticon_evilgrin.png') no-repeat center center;}
.icon-emoticon_grin{background:url('icon-lib/emoticon_grin.png') no-repeat center center;}
.icon-emoticon_happy{background:url('icon-lib/emoticon_happy.png') no-repeat center center;}
.icon-emoticon_smile{background:url('icon-lib/emoticon_smile.png') no-repeat center center;}
.icon-emoticon_surprised{background:url('icon-lib/emoticon_surprised.png') no-repeat center center;}
.icon-emoticon_tongue{background:url('icon-lib/emoticon_tongue.png') no-repeat center center;}
.icon-emoticon_unhappy{background:url('icon-lib/emoticon_unhappy.png') no-repeat center center;}
.icon-emoticon_waii{background:url('icon-lib/emoticon_waii.png') no-repeat center center;}
.icon-emoticon_wink{background:url('icon-lib/emoticon_wink.png') no-repeat center center;}
.icon-Empty{background:url('icon-lib/Empty.png') no-repeat center center;}
.icon-erase{background:url('icon-lib/erase.png') no-repeat center center;}
.icon-error{background:url('icon-lib/error.png') no-repeat center center;}
.icon-exclamation{background:url('icon-lib/exclamation.png') no-repeat center center;}
.icon-eye{background:url('icon-lib/eye.png') no-repeat center center;}
.icon-feed{background:url('icon-lib/feed.png') no-repeat center center;}
.icon-female{background:url('icon-lib/female.png') no-repeat center center;}
.icon-film{background:url('icon-lib/film.png') no-repeat center center;}
.icon-find{background:url('icon-lib/find.png') no-repeat center center;}
.icon-flag_checked{background:url('icon-lib/flag_checked.png') no-repeat center center;}
.icon-flag_cn{background:url('icon-lib/flag_cn.png') no-repeat center center;}
.icon-flag_orange{background:url('icon-lib/flag_orange.png') no-repeat center center;}
.icon-flag_pink{background:url('icon-lib/flag_pink.png') no-repeat center center;}
.icon-flag_red{background:url('icon-lib/flag_red.png') no-repeat center center;}
.icon-flag_us{background:url('icon-lib/flag_us.png') no-repeat center center;}
.icon-flag_white{background:url('icon-lib/flag_white.png') no-repeat center center;}
.icon-flag_yellow{background:url('icon-lib/flag_yellow.png') no-repeat center center;}
.icon-flower_daisy{background:url('icon-lib/flower_daisy.png') no-repeat center center;}
.icon-folder_table{background:url('icon-lib/folder_table.png') no-repeat center center;}
.icon-folder{background:url('icon-lib/folder.png') no-repeat center center;}
.icon-font{background:url('icon-lib/font.png') no-repeat center center;}
.icon-forward_blue{background:url('icon-lib/forward_blue.png') no-repeat center center;}
.icon-forward_green{background:url('icon-lib/forward_green.png') no-repeat center center;}
.icon-graph{background:url('icon-lib/graph.png') no-repeat center center;}
.icon-group{background:url('icon-lib/group.png') no-repeat center center;}
.icon-hammer_screwdriver{background:url('icon-lib/hammer_screwdriver.png') no-repeat center center;}
.icon-hammer{background:url('icon-lib/hammer.png') no-repeat center center;}
.icon-head_ico{background:url('icon-lib/head_ico.png') no-repeat center center;}
.icon-heart{background:url('icon-lib/heart.png') no-repeat center center;}
.icon-help{background:url('icon-lib/help.png') no-repeat center center;}
.icon-home_blue{background:url('icon-lib/home_blue.png') no-repeat center center;}
.icon-home{background:url('icon-lib/home.png') no-repeat center center;}
.icon-hourglass{background:url('icon-lib/hourglass.png') no-repeat center center;}
.icon-house{background:url('icon-lib/house.png') no-repeat center center;}
.icon-html{background:url('icon-lib/html.png') no-repeat center center;}
.icon-image{background:url('icon-lib/image.png') no-repeat center center;}
.icon-images{background:url('icon-lib/images.png') no-repeat center center;}
.icon-information{background:url('icon-lib/information.png') no-repeat center center;}
.icon-ipod{background:url('icon-lib/ipod.png') no-repeat center center;}
.icon-joystick{background:url('icon-lib/joystick.png') no-repeat center center;}
.icon-key{background:url('icon-lib/key.png') no-repeat center center;}
.icon-keyboard{background:url('icon-lib/keyboard.png') no-repeat center center;}
.icon-laptop{background:url('icon-lib/laptop.png') no-repeat center center;}
.icon-layers{background:url('icon-lib/layers.png') no-repeat center center;}
.icon-layout_header{background:url('icon-lib/layout_header.png') no-repeat center center;}
.icon-layout{background:url('icon-lib/layout.png') no-repeat center center;}
.icon-lightbulb{background:url('icon-lib/lightbulb.png') no-repeat center center;}
.icon-link{background:url('icon-lib/link.png') no-repeat center center;}
.icon-lock_open{background:url('icon-lib/lock_open.png') no-repeat center center;}
.icon-lock{background:url('icon-lib/lock.png') no-repeat center center;}
.icon-lorry_add{background:url('icon-lib/lorry_add.png') no-repeat center center;}
.icon-magifier_zoom_out{background:url('icon-lib/magifier_zoom_out.png') no-repeat center center;}
.icon-magnifier_zoom_in{background:url('icon-lib/magnifier_zoom_in.png') no-repeat center center;}
.icon-magnifier{background:url('icon-lib/magnifier.png') no-repeat center center;}
.icon-mail{background:url('icon-lib/mail.png') no-repeat center center;}
.icon-male{background:url('icon-lib/male.png') no-repeat center center;}
.icon-map{background:url('icon-lib/map.png') no-repeat center center;}
.icon-medal_bronze_blue{background:url('icon-lib/medal_bronze_blue.png') no-repeat center center;}
.icon-medal_bronze_green{background:url('icon-lib/medal_bronze_green.png') no-repeat center center;}
.icon-medal_bronze_red{background:url('icon-lib/medal_bronze_red.png') no-repeat center center;}
.icon-medal_gold_blue{background:url('icon-lib/medal_gold_blue.png') no-repeat center center;}
.icon-medal_gold_green{background:url('icon-lib/medal_gold_green.png') no-repeat center center;}
.icon-medal_gold_red{background:url('icon-lib/medal_gold_red.png') no-repeat center center;}
.icon-medal_silver_blue{background:url('icon-lib/medal_silver_blue.png') no-repeat center center;}
.icon-medal_silver_green{background:url('icon-lib/medal_silver_green.png') no-repeat center center;}
.icon-medal_silver_red{background:url('icon-lib/medal_silver_red.png') no-repeat center center;}
.icon-money_dollar{background:url('icon-lib/money_dollar.png') no-repeat center center;}
.icon-money_euro{background:url('icon-lib/money_euro.png') no-repeat center center;}
.icon-money_pound{background:url('icon-lib/money_pound.png') no-repeat center center;}
.icon-money_yen{background:url('icon-lib/money_yen.png') no-repeat center center;}
.icon-money{background:url('icon-lib/money.png') no-repeat center center;}
.icon-monitor{background:url('icon-lib/monitor.png') no-repeat center center;}
.icon-moon_full{background:url('icon-lib/moon_full.png') no-repeat center center;}
.icon-mouse{background:url('icon-lib/mouse.png') no-repeat center center;}
.icon-music_note{background:url('icon-lib/music_note.png') no-repeat center center;}
.icon-music{background:url('icon-lib/music.png') no-repeat center center;}
.icon-neighbourhood{background:url('icon-lib/neighbourhood.png') no-repeat center center;}
.icon-new_blue{background:url('icon-lib/new_blue.png') no-repeat center center;}
.icon-new_red{background:url('icon-lib/new_red.png') no-repeat center center;}
.icon-new{background:url('icon-lib/new.png') no-repeat center center;}
.icon-newspaper{background:url('icon-lib/newspaper.png') no-repeat center center;}
.icon-next_green{background:url('icon-lib/next_green.png') no-repeat center center;}
.icon-note{background:url('icon-lib/note.png') no-repeat center center;}
.icon-ok{background:url('icon-lib/ok.gif') no-repeat center center;}
.icon-package_white{background:url('icon-lib/package_white.png') no-repeat center center;}
.icon-package{background:url('icon-lib/package.png') no-repeat center center;}
.icon-page_back{background:url('icon-lib/page_back.png') no-repeat center center;}
.icon-page_forward{background:url('icon-lib/page_forward.png') no-repeat center center;}
.icon-page_landscape_shot{background:url('icon-lib/page_landscape_shot.png') no-repeat center center;}
.icon-page_white{background:url('icon-lib/page_white.png') no-repeat center center;}
.icon-page{background:url('icon-lib/page.png') no-repeat center center;}
.icon-paint_can_brush{background:url('icon-lib/paint_can_brush.png') no-repeat center center;}
.icon-paint{background:url('icon-lib/paint.png') no-repeat center center;}
.icon-paintbrush_color{background:url('icon-lib/paintbrush_color.png') no-repeat center center;}
.icon-paintbrush{background:url('icon-lib/paintbrush.png') no-repeat center center;}
.icon-paintcan_red{background:url('icon-lib/paintcan_red.png') no-repeat center center;}
.icon-paintcan{background:url('icon-lib/paintcan.png') no-repeat center center;}
.icon-palette{background:url('icon-lib/palette.png') no-repeat center center;}
.icon-pause_green{background:url('icon-lib/pause_green.png') no-repeat center center;}
.icon-pencil{background:url('icon-lib/pencil.png') no-repeat center center;}
.icon-people{background:url('icon-lib/people.png') no-repeat center center;}
.icon-phone{background:url('icon-lib/phone.png') no-repeat center center;}
.icon-photo{background:url('icon-lib/photo.png') no-repeat center center;}
.icon-photos{background:url('icon-lib/photos.png') no-repeat center center;}
.icon-picture{background:url('icon-lib/picture.png') no-repeat center center;}
.icon-pictures_thumbs{background:url('icon-lib/pictures_thumbs.png') no-repeat center center;}
.icon-pictures{background:url('icon-lib/pictures.png') no-repeat center center;}
.icon-piechart{background:url('icon-lib/piechart.png') no-repeat center center;}
.icon-pilcrow{background:url('icon-lib/pilcrow.png') no-repeat center center;}
.icon-pill{background:url('icon-lib/pill.png') no-repeat center center;}
.icon-play_green{background:url('icon-lib/play_green.png') no-repeat center center;}
.icon-plugin{background:url('icon-lib/plugin.png') no-repeat center center;}
.icon-previous_green{background:url('icon-lib/previous_green.png') no-repeat center center;}
.icon-printer{background:url('icon-lib/printer.png') no-repeat center center;}
.icon-rainbow{background:url('icon-lib/rainbow.png') no-repeat center center;}
.icon-record_blue{background:url('icon-lib/record_blue.png') no-repeat center center;}
.icon-record_green{background:url('icon-lib/record_green.png') no-repeat center center;}
.icon-record_red{background:url('icon-lib/record_red.png') no-repeat center center;}
.icon-reload{background:url('icon-lib/reload.png') no-repeat center center;}
.icon-report{background:url('icon-lib/report.png') no-repeat center center;}
.icon-resultset_first{background:url('icon-lib/resultset_first.png') no-repeat center center;}
.icon-resultset_last{background:url('icon-lib/resultset_last.png') no-repeat center center;}
.icon-resultset_next{background:url('icon-lib/resultset_next.png') no-repeat center center;}
.icon-resultset_previous{background:url('icon-lib/resultset_previous.png') no-repeat center center;}
.icon-rgb{background:url('icon-lib/rgb.png') no-repeat center center;}
.icon-rosette_blue{background:url('icon-lib/rosette_blue.png') no-repeat center center;}
.icon-rosette{background:url('icon-lib/rosette.png') no-repeat center center;}
.icon-rss{background:url('icon-lib/rss.png') no-repeat center center;}
.icon-ruby{background:url('icon-lib/ruby.png') no-repeat center center;}
.icon-script_code{background:url('icon-lib/script_code.png') no-repeat center center;}
.icon-script{background:url('icon-lib/script.png') no-repeat center center;}
.icon-seasons{background:url('icon-lib/seasons.png') no-repeat center center;}
.icon-server{background:url('icon-lib/server.png') no-repeat center center;}
.icon-shape_3d{background:url('icon-lib/shape_3d.png') no-repeat center center;}
.icon-shape_align_bottom{background:url('icon-lib/shape_align_bottom.png') no-repeat center center;}
.icon-shape_align_center{background:url('icon-lib/shape_align_center.png') no-repeat center center;}
.icon-shape_align_left{background:url('icon-lib/shape_align_left.png') no-repeat center center;}
.icon-shape_align_middle{background:url('icon-lib/shape_align_middle.png') no-repeat center center;}
.icon-shape_align_right{background:url('icon-lib/shape_align_right.png') no-repeat center center;}
.icon-shape_align_top{background:url('icon-lib/shape_align_top.png') no-repeat center center;}
.icon-shape_group{background:url('icon-lib/shape_group.png') no-repeat center center;}
.icon-shape_handles{background:url('icon-lib/shape_handles.png') no-repeat center center;}
.icon-shape_move_back{background:url('icon-lib/shape_move_back.png') no-repeat center center;}
.icon-shape_move_backwards{background:url('icon-lib/shape_move_backwards.png') no-repeat center center;}
.icon-shape_move_forwards{background:url('icon-lib/shape_move_forwards.png') no-repeat center center;}
.icon-shape_move_front{background:url('icon-lib/shape_move_front.png') no-repeat center center;}
.icon-shape_rotate_anticlockwise{background:url('icon-lib/shape_rotate_anticlockwise.png') no-repeat center center;}
.icon-shape_rotate_clockwise{background:url('icon-lib/shape_rotate_clockwise.png') no-repeat center center;}
.icon-shape_shade_a{background:url('icon-lib/shape_shade_a.png') no-repeat center center;}
.icon-shape_shade_b{background:url('icon-lib/shape_shade_b.png') no-repeat center center;}
.icon-shape_shade_c{background:url('icon-lib/shape_shade_c.png') no-repeat center center;}
.icon-shape_shadow_toggle{background:url('icon-lib/shape_shadow_toggle.png') no-repeat center center;}
.icon-shape_shadow{background:url('icon-lib/shape_shadow.png') no-repeat center center;}
.icon-shape_square_go{background:url('icon-lib/shape_square_go.png') no-repeat center center;}
.icon-shape_square_select{background:url('icon-lib/shape_square_select.png') no-repeat center center;}
.icon-shape_square{background:url('icon-lib/shape_square.png') no-repeat center center;}
.icon-shape_ungroup{background:url('icon-lib/shape_ungroup.png') no-repeat center center;}
.icon-shapes_many_select{background:url('icon-lib/shapes_many_select.png') no-repeat center center;}
.icon-shapes_many{background:url('icon-lib/shapes_many.png') no-repeat center center;}
.icon-share{background:url('icon-lib/share.png') no-repeat center center;}
.icon-shield{background:url('icon-lib/shield.png') no-repeat center center;}
.icon-shopping-bag{background:url('icon-lib/shopping-bag.png') no-repeat center center;}
.icon-sitemap_color{background:url('icon-lib/sitemap_color.png') no-repeat center center;}
.icon-sitemap{background:url('icon-lib/sitemap.png') no-repeat center center;}
.icon-smartphone{background:url('icon-lib/smartphone.png') no-repeat center center;}
.icon-sort_ascending{background:url('icon-lib/sort_ascending.png') no-repeat center center;}
.icon-sort_descending{background:url('icon-lib/sort_descending.png') no-repeat center center;}
.icon-sound_high{background:url('icon-lib/sound_high.png') no-repeat center center;}
.icon-sound_low{background:url('icon-lib/sound_low.png') no-repeat center center;}
.icon-sound_mute{background:url('icon-lib/sound_mute.png') no-repeat center center;}
.icon-sound_none{background:url('icon-lib/sound_none.png') no-repeat center center;}
.icon-sound_out{background:url('icon-lib/sound_out.png') no-repeat center center;}
.icon-sound{background:url('icon-lib/sound.png') no-repeat center center;}
.icon-spellcheck{background:url('icon-lib/spellcheck.png') no-repeat center center;}
.icon-sport_8ball{background:url('icon-lib/sport_8ball.png') no-repeat center center;}
.icon-sport_basketball{background:url('icon-lib/sport_basketball.png') no-repeat center center;}
.icon-sport_football{background:url('icon-lib/sport_football.png') no-repeat center center;}
.icon-sport_golf_practice{background:url('icon-lib/sport_golf_practice.png') no-repeat center center;}
.icon-sport_golf{background:url('icon-lib/sport_golf.png') no-repeat center center;}
.icon-sport_raquet{background:url('icon-lib/sport_raquet.png') no-repeat center center;}
.icon-sport_shuttlecock{background:url('icon-lib/sport_shuttlecock.png') no-repeat center center;}
.icon-sport_soccer{background:url('icon-lib/sport_soccer.png') no-repeat center center;}
.icon-sport_tennis{background:url('icon-lib/sport_tennis.png') no-repeat center center;}
.icon-star_bronze_half_grey{background:url('icon-lib/star_bronze_half_grey.png') no-repeat center center;}
.icon-star_bronze{background:url('icon-lib/star_bronze.png') no-repeat center center;}
.icon-star_gold_half_grey{background:url('icon-lib/star_gold_half_grey.png') no-repeat center center;}
.icon-star_gold_half_silver{background:url('icon-lib/star_gold_half_silver.png') no-repeat center center;}
.icon-star_gold{background:url('icon-lib/star_gold.png') no-repeat center center;}
.icon-star_grey{background:url('icon-lib/star_grey.png') no-repeat center center;}
.icon-star_half_grey{background:url('icon-lib/star_half_grey.png') no-repeat center center;}
.icon-star_silver{background:url('icon-lib/star_silver.png') no-repeat center center;}
.icon-star{background:url('icon-lib/star.png') no-repeat center center;}
.icon-status_away{background:url('icon-lib/status_away.png') no-repeat center center;}
.icon-status_be_right_back{background:url('icon-lib/status_be_right_back.png') no-repeat center center;}
.icon-status_busy{background:url('icon-lib/status_busy.png') no-repeat center center;}
.icon-status_invisible{background:url('icon-lib/status_invisible.png') no-repeat center center;}
.icon-status_offline{background:url('icon-lib/status_offline.png') no-repeat center center;}
.icon-status_online{background:url('icon-lib/status_online.png') no-repeat center center;}
.icon-stop_blue{background:url('icon-lib/stop_blue.png') no-repeat center center;}
.icon-stop_green{background:url('icon-lib/stop_green.png') no-repeat center center;}
.icon-stop_red{background:url('icon-lib/stop_red.png') no-repeat center center;}
.icon-stop{background:url('icon-lib/stop.png') no-repeat center center;}
.icon-style{background:url('icon-lib/style.png') no-repeat center center;}
.icon-sum{background:url('icon-lib/sum.png') no-repeat center center;}
.icon-survey{background:url('icon-lib/survey.png') no-repeat center center;}
.icon-tab_blue{background:url('icon-lib/tab_blue.png') no-repeat center center;}
.icon-tab_green{background:url('icon-lib/tab_green.png') no-repeat center center;}
.icon-tab{background:url('icon-lib/tab.png') no-repeat center center;}
.icon-table{background:url('icon-lib/table.png') no-repeat center center;}
.icon-tag_blue{background:url('icon-lib/tag_blue.png') no-repeat center center;}
.icon-tag_green{background:url('icon-lib/tag_green.png') no-repeat center center;}
.icon-tag_orange{background:url('icon-lib/tag_orange.png') no-repeat center center;}
.icon-tags_grey{background:url('icon-lib/tags_grey.png') no-repeat center center;}
.icon-tags_red{background:url('icon-lib/tags_red.png') no-repeat center center;}
.icon-telephone_red{background:url('icon-lib/telephone_red.png') no-repeat center center;}
.icon-telephone{background:url('icon-lib/telephone.png') no-repeat center center;}
.icon-television_off{background:url('icon-lib/television_off.png') no-repeat center center;}
.icon-television_star{background:url('icon-lib/television_star.png') no-repeat center center;}
.icon-television{background:url('icon-lib/television.png') no-repeat center center;}
.icon-theme{background:url('icon-lib/theme.png') no-repeat center center;}
.icon-thumb_down{background:url('icon-lib/thumb_down.png') no-repeat center center;}
.icon-thumb_up{background:url('icon-lib/thumb_up.png') no-repeat center center;}
.icon-tick{background:url('icon-lib/tick.png') no-repeat center center;}
.icon-time_red{background:url('icon-lib/time_red.png') no-repeat center center;}
.icon-time{background:url('icon-lib/time.png') no-repeat center center;}
.icon-transmit_blue{background:url('icon-lib/transmit_blue.png') no-repeat center center;}
.icon-transmit{background:url('icon-lib/transmit.png') no-repeat center center;}
.icon-tux{background:url('icon-lib/tux.png') no-repeat center center;}
.icon-user_blue{background:url('icon-lib/user_blue.png') no-repeat center center;}
.icon-user_brown{background:url('icon-lib/user_brown.png') no-repeat center center;}
.icon-user_female{background:url('icon-lib/user_female.png') no-repeat center center;}
.icon-user_gray_cool{background:url('icon-lib/user_gray_cool.png') no-repeat center center;}
.icon-user_gray{background:url('icon-lib/user_gray.png') no-repeat center center;}
.icon-user_green{background:url('icon-lib/user_green.png') no-repeat center center;}
.icon-user_mature{background:url('icon-lib/user_mature.png') no-repeat center center;}
.icon-user_orange{background:url('icon-lib/user_orange.png') no-repeat center center;}
.icon-user_red{background:url('icon-lib/user_red.png') no-repeat center center;}
.icon-user_suit_black{background:url('icon-lib/user_suit_black.png') no-repeat center center;}
.icon-user_suit{background:url('icon-lib/user_suit.png') no-repeat center center;}
.icon-user{background:url('icon-lib/user.png') no-repeat center center;}
.icon-vcard{background:url('icon-lib/vcard.png') no-repeat center center;}
.icon-vector{background:url('icon-lib/vector.png') no-repeat center center;}
.icon-view{background:url('icon-lib/view.gif') no-repeat center center;}
.icon-wallet{background:url('icon-lib/wallet.png') no-repeat center center;}
.icon-wand{background:url('icon-lib/wand.png') no-repeat center center;}
.icon-weather_cloud{background:url('icon-lib/weather_cloud.png') no-repeat center center;}
.icon-weather_clouds{background:url('icon-lib/weather_clouds.png') no-repeat center center;}
.icon-weather_cloudy_rain{background:url('icon-lib/weather_cloudy_rain.png') no-repeat center center;}
.icon-weather_cloudy{background:url('icon-lib/weather_cloudy.png') no-repeat center center;}
.icon-weather_lightning{background:url('icon-lib/weather_lightning.png') no-repeat center center;}
.icon-weather_rain{background:url('icon-lib/weather_rain.png') no-repeat center center;}
.icon-weather_snow{background:url('icon-lib/weather_snow.png') no-repeat center center;}
.icon-weather_sun{background:url('icon-lib/weather_sun.png') no-repeat center center;}
.icon-web{background:url('icon-lib/web.png') no-repeat center center;}
.icon-webcam{background:url('icon-lib/webcam.png') no-repeat center center;}
.icon-world_dawn{background:url('icon-lib/world_dawn.png') no-repeat center center;}
.icon-world_night{background:url('icon-lib/world_night.png') no-repeat center center;}
.icon-world{background:url('icon-lib/world.png') no-repeat center center;}
.icon-wrench_orange{background:url('icon-lib/wrench_orange.png') no-repeat center center;}
.icon-wrench{background:url('icon-lib/wrench.png') no-repeat center center;}
.icon-xhtml{background:url('icon-lib/xhtml.png') no-repeat center center;}
.icon-zoom_in{background:url('icon-lib/zoom_in.png') no-repeat center center;}
.icon-zoom_out{background:url('icon-lib/zoom_out.png') no-repeat center center;}
.icon-zoom{background:url('icon-lib/zoom.png') no-repeat center center;}